<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GForces - Driving the Digital Dealership</title>

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<!-- Javascript -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<!-- Cascading Style Sheets -->
<link href="css/global.css" media="screen,projection" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>

<!-- Header and Navbar section-->
<body>
  <header class="container hidden-sm hidden-xs">
    <div class="row" id="banner">
      <div class="col-md-1">
        <img class="logo" src="../designs/logo.gif" alt="">
      </div>
      <div class="col-md-4" id="phone">
      <p>0844 209 8084</p>
      </div>
    </div>
    <div class="row">
      <nav class="col-md-10 nav">
        <a id="home" href="#">Home</a>
        <a href="#">New Cars</a>
        <a href="#">Used Cars</a>
        <a href="#">Aftersales</a>
        <a href="#">Finance</a>
        <a href="#">News</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </nav>
    </div>
  </header>
  <!-- /Header and Navbar section-->

  <!-- Row 1, Main Image-->
  <div class="container hidden-sm hidden-xs">
    <div class="row">
      <div class="col-md-2" id="livechat">
        <p class="largetitle">Live Chat</p>
        <img class="block4" src="../designs/sprites.png" alt="">
        <p class="largefont">Talk to us online now</p>
      </div>
      <img class="col-md-7" src="../designs/Main Image.jpg" alt="" id="mainimage">
      <div class="col-md-2" id="valuation">
        <p class="medtitle">Request a Valuation</p>
        <p class="medfont">Find out how much your car is<br>worth part exchange.</p>
        <div class="block">
          <p>Get Valuation</p>
        </div>
      </div>
    </div>
    <!-- /Row 1, Main Image-->

    <!-- Row 2, Used/New Cars-->
    <div class="row">
      <div class="col-md-2" id="stock">
        <p class="medtitle">Stock Updates</p>
        <p class="medfont">Stay up-to-date by signing up<br>to our regular stock updates</p>
        <div class="block3">
          <form action="/action_page.php">
            <input type="text" name="email" value="Your email address" size="24">
          </form>
        </div>
        <div class="block">
          <p>Sign Up Now</p>
        </div>
      </div>
      <div class="col-md-4">
        <p class="block2">New Cars</p>
        <img class="cars" src="../designs/New Cars.jpg" alt="">
      </div>
      <div class="col-md-4" id="usedcar">
        <p class="block2" id="used">Used Cars</p>
        <img class="cars" src="../designs/Used Cars.jpg" alt="">
      </div>
    </div>
    <!-- /Row 2, Used/New Cars-->

    <!-- Welcome text body-->
    <div class="row">
      <div class="col-md-10">
        <h2 class="title">Welcome to GForces Auto</h2>
        <p class="smlfont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat tempor sem, ut <a href="#">elementum</a> lacus interdum sit amet. Etiam congue, quam id laoreet varius, risus turpis pellentesque eros, <a href="#">ut fringilla</a> velit dolor in sapien.
          <br><br>
          Etiam odio eros, viverra nec eleifend ac, convallis eu mi. Donec varius tellus eu est mattis ornare. Fusce a erat arcu. Donec mollis nulla vitae neque interdum suscipit.  libero. Nullam venenatis dictum libero quis mattis. In neque massa, aliquet eget placerat adipiscing, tempus eu orci. Etiam adipiscing bibendum justo in placerat.
          <br><br>
          Sed pulvinar dolor sed neque commodo lobortis. Nulla sed varius ante. Mauris feugiat sodales quam, eget faucibus arcu varius non. Curabitur aliquam lorem ut nisl ullamcorper eu tempus risus varius. Nam gravida tempor dolor ultricies ultricies. Pellentesque at felis tellus, eget pharetra est. Mauris risus lorem, ornare quis euismod vitae, scelerisque eu eros. Nulla in dolor sit amet tortor iaculis tincidunt. Quisque rhoncus placerat hendrerit. Maecenas cursus nunc eget dolor egestas tincidunt sed et leo. Mauris tristique, eros in placerat imperdiet, sapien sem lobortis tellus, vel euismod purus dui vel elit. Morbi pulvinar, nisl at ullamcorper imperdiet, orci augue commodo turpis, non malesuada diam eros et nunc. </p>
      </div>
    </div>
    <!-- /Welcome text body-->

    <!-- Footer-->
    <div class="row footer">
        <div class="col-md-6 About">
          <p class="subtitle">About GForces</p>
          <p>© GForces Auto <br>
            Reg. Office: Address Line 1, Address Line 2, Town, County. Postcode <br>
            Reg. Company No. XXXXXXXXXX - VAT Reg. No. XXXX XXX XX <br>
            <br><br>
            © NetDirector™ - Automotive Solutions
          </p>
        </div>
        <div class="col-md-2 spacer"></div>
        <div class="col-md-4 Links">
          <p class="subtitle">Links</p>
          <ul class="List">
            <li>Privacy Policy</li>
            <li>Terms & Conditions</li>
            <li>Site map</li>
            <li>Legal</li>
            <li>Back to Top</li>
          </ul>
        </div>
      </div>
  </div>
  <!-- /Footer-->

<!-- Mobile Friendly View-->
  <body>
    <header class="container hidden-md hidden-lg">
      <div class="row" id="banner">
        <div class="col-xs-12 col-sm-12">
          <img class="logo" src="../designs/logo.gif" alt="">
        </div>
        <div class="col-xs-12 col-sm-12" id="phone">
        <p>0844 209 8084</p>
        </div>
      </div>
      <div class="row">
        <nav class="col-xs-12 hidden-sm navmob">
          <a id="home" href="#">Home</a>
          <a href="#">New Cars</a>
          <a href="#">Used Cars</a>
          <a href="#">Aftersales</a>
          <a href="#">Finance</a>
          <a href="#">News</a>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
        </nav>
        <!--Tablet Friendly-->
        <nav class="col-sm-12 hidden-xs navtab">
          <a id="home" href="#">Home</a>
          <a href="#">New Cars</a>
          <a href="#">Used Cars</a>
          <a href="#">Aftersales</a>
          <a href="#">Finance</a>
          <a href="#">News</a>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
        </nav>
        <!--/Tablet Friendly-->
      </div>
    </header>
    <!-- /Header and Navbar section-->

    <!-- Row 1, Main Image-->
    <div class="container hidden-md hidden-lg">
      <div class="row">
        <div class="col-xs-12 col-sm-12" id="livechat">
          <p class="largetitle">Live Chat</p>
          <img class="block4" src="../designs/sprites.png" alt="">
          <p class="largefont">Talk to us online now</p>
        </div>
        <img class="col-xs-12 col-sm-12" src="../designs/Main Image.jpg" alt="">
        <div class="col-xs-12 col-sm-12" id="valuation">
          <p class="medtitle">Request a Valuation</p>
          <p class="medfont">Find out how much your car is<br>worth part exchange.</p>
          <div class="block">
            <p>Get Valuation</p>
          </div>
        </div>
      </div>
      <!-- /Row 1, Main Image-->

      <!-- Row 2, Used/New Cars-->
      <div class="row">
        <div class="col-xs-12 col-sm-12" id="stock">
          <p class="medtitle">Stock Updates</p>
          <p class="medfont">Stay up-to-date by signing up<br>to our regular stock updates</p>
          <div class="block3">
            <form action="/action_page.php">
              <input type="text" name="email" value="Your email address" size="24">
            </form>
          </div>
          <div class="block">
            <p>Sign Up Now</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12">
          <p class="block2">New Cars</p>
          <img class="cars" src="../designs/New Cars.jpg" alt="">
        </div>
        <div class="col-xs-12 col-sm-12">
          <p class="block2" id="used">Used Cars</p>
          <img class="cars" src="../designs/Used Cars.jpg" alt="">
        </div>
      </div>
      <!-- /Row 2, Used/New Cars-->

      <!-- Welcome text body-->
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h2 class="title">Welcome to GForces Auto</h2>
          <p class="smlfont">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consequat tempor sem, ut <a href="#">elementum</a> lacus interdum sit amet. Etiam congue, quam id laoreet varius, risus turpis pellentesque eros, <a href="#">ut fringilla</a> velit dolor in sapien.
            <br><br>
            Etiam odio eros, viverra nec eleifend ac, convallis eu mi. Donec varius tellus eu est mattis ornare. Fusce a erat arcu. Donec mollis nulla vitae neque interdum suscipit.  libero. Nullam venenatis dictum libero quis mattis. In neque massa, aliquet eget placerat adipiscing, tempus eu orci. Etiam adipiscing bibendum justo in placerat.
            <br><br>
            Sed pulvinar dolor sed neque commodo lobortis. Nulla sed varius ante. Mauris feugiat sodales quam, eget faucibus arcu varius non. Curabitur aliquam lorem ut nisl ullamcorper eu tempus risus varius. Nam gravida tempor dolor ultricies ultricies. Pellentesque at felis tellus, eget pharetra est. Mauris risus lorem, ornare quis euismod vitae, scelerisque eu eros. Nulla in dolor sit amet tortor iaculis tincidunt. Quisque rhoncus placerat hendrerit. Maecenas cursus nunc eget dolor egestas tincidunt sed et leo. Mauris tristique, eros in placerat imperdiet, sapien sem lobortis tellus, vel euismod purus dui vel elit. Morbi pulvinar, nisl at ullamcorper imperdiet, orci augue commodo turpis, non malesuada diam eros et nunc. </p>
        </div>
      </div>
      <!-- /Welcome text body-->

      <!-- Footer-->
      <div class="row footermob">
          <div class="col-xs-12 col-sm-12 About">
            <p class="subtitle">About GForces</p>
            <p>© GForces Auto <br>
              Reg. Office: Address Line 1, Address Line 2, Town, County. Postcode <br>
              Reg. Company No. XXXXXXXXXX - VAT Reg. No. XXXX XXX XX <br>
              <br><br>
              © NetDirector™ - Automotive Solutions
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 spacer"></div>
          <div class="col-xs-12 col-sm-12 Links">
            <p class="subtitle">Links</p>
            <ul class="List">
              <li>Privacy Policy</li>
              <li>Terms & Conditions</li>
              <li>Site map</li>
              <li>Legal</li>
              <li>Back to Top</li>
            </ul>
          </div>
        </div>
    </div>


</body>
</html>
