<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>GForces - Driving the Digital Dealership</title>

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

<!-- Javascript -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<!-- Cascading Style Sheets -->
<link href="css/global.css" media="screen,projection" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>

<!-- Header and Navbar section-->
<body>
  <header class="container">
    <div class="row" id="banner">
      <div class="col-md-1">
        <img class="logo" src="../designs/logo.gif" alt="">
      </div>
      <div class="col-md-4" id="phone">
      <p>0844 209 8084</p>
      </div>
    </div>
    <div class="row">
      <nav class="col-md-10 nav">
        <a id="home" href="#">Home</a>
        <a href="#">New Cars</a>
        <a href="#">Used Cars</a>
        <a href="#">Aftersales</a>
        <a href="#">Finance</a>
        <a href="#">News</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </nav>
    </div>
  </header>
  <!-- /Header and Navbar section-->

<!-- Left column-->
<header class="container">
 <div class="row">
  <div class="col-md-2 adjust">
    <div id="livechat">
      <p class="largetitle">Live Chat</p>
      <img class="block-4" src="../designs/sprites.png" alt="">
      <p class="largefont">Talk to us online now</p>
    </div>
    <div id="valuation">
      <p class="medtitle">Request a Valuation</p>
      <p class="medfont">Find out how much your car is<br>worth part exchange.</p>
      <div class="block-0">
        <p>Get Valuation</p>
      </div>
    </div>
    <div id="stock">
      <p class="medtitle">Stock Updates</p>
      <p class="medfont">Stay up-to-date by signing up<br>to our regular stock updates</p>
      <div class="block3">
        <form action="/action_page.php">
          <input type="text" name="email" value="Your email address" size="24">
        </form>
      </div>
      <div class="block-0">
        <p>Sign Up Now</p>
      </div>
    </div>
  </div>

<!-- /Left column-->

<!-- Right column-->
<div class="col-md-10">
  <nav class="location">
    <div class="navleft">
      <p>You are in: Home > <a href="#">Page Title</a> </p>
    </div>

    <div class="navright">
      <p> <a href="#">< Previous</a> <a id="highlight" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a>
        <a href="#">5</a>  <a href="#">6</a>  <a href="#">Next ></a> </p>
    </div>
  </nav>

  <div class="listing">
    <div class="listingimg">
      <div class="listingtitlestart">
        <h3><span class="largefont2">ŠKODA CITIGO 1.1 SE Plus</span>
        <span class="largefont2 hoverR">Now £11,500</span></h3>
      </div>
      <img src="../designs/Skoda Citago.jpg" alt="">
    </div>
    <div class="spec">
      <div class="specitem">
        <p>
        <span class="floatL">Colour</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Engine Size</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Mileage</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>

      <div class="spec2">
      <div class="specitem">
        <p>
        <span class="floatL">Registration</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Fuel Type</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Transmission</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <p id="carlocation">Location: Bearstead, Kent</p>
      </div>
      <div class="Moreinfo">
        <p>More Info</p>
      </div>
    </div>
  </div>

  <div class="listing2">
    <div class="listingimg">
      <div class="listingtitlestart">
        <h3><span class="largefont2">ŠKODA CITIGO 1.1 SE Plus</span>
        <span class="largefont2 hoverR">Now £11,500</span></h3>
      </div>
      <img src="../designs/Skoda Citago.jpg" alt="">
    </div>
    <div class="spec">
      <div class="specitem">
        <p>
        <span class="floatL">Colour</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Engine Size</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Mileage</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>

      <div class="spec2">
      <div class="specitem">
        <p>
        <span class="floatL">Registration</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Fuel Type</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Transmission</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <p id="carlocation">Location: Bearstead, Kent</p>
      </div>
      <div class="Moreinfo">
        <p>More Info</p>
      </div>
    </div>
  </div>


  <div class="listing3">
    <div class="listingimg">
      <div class="listingtitlestart">
        <h3><span class="largefont2">ŠKODA CITIGO 1.1 SE Plus</span>
        <span class="largefont2 hoverR">Now £11,500</span></h3>
      </div>
      <img src="../designs/Skoda Citago.jpg" alt="">
    </div>
    <div class="spec">
      <div class="specitem">
        <p>
        <span class="floatL">Colour</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Engine Size</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Mileage</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>

      <div class="spec2">
      <div class="specitem">
        <p>
        <span class="floatL">Registration</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Fuel Type</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Transmission</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <p id="carlocation">Location: Bearstead, Kent</p>
      </div>
      <div class="Moreinfo">
        <p>More Info</p>
      </div>
    </div>
  </div>

  <div class="listing4">
    <div class="listingimg">
      <div class="listingtitlestart">
        <h3><span class="largefont2">ŠKODA CITIGO 1.1 SE Plus</span>
        <span class="largefont2 hoverR">Now £11,500</span></h3>
      </div>
      <img src="../designs/Skoda Citago.jpg" alt="">
    </div>
    <div class="spec">
      <div class="specitem">
        <p>
        <span class="floatL">Colour</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Engine Size</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Mileage</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>

      <div class="spec2">
      <div class="specitem">
        <p>
        <span class="floatL">Registration</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Fuel Type</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Transmission</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <p id="carlocation">Location: Bearstead, Kent</p>
      </div>
      <div class="Moreinfo">
        <p>More Info</p>
      </div>
    </div>
  </div>

  <div class="listing5">
    <div class="listingimg">
      <div class="listingtitlestart">
        <h3><span class="largefont2">ŠKODA CITIGO 1.1 SE Plus</span>
        <span class="largefont2 hoverR">Now £11,500</span></h3>
      </div>
      <img src="../designs/Skoda Citago.jpg" alt="">
    </div>
    <div class="spec">
      <div class="specitem">
        <p>
        <span class="floatL">Colour</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Engine Size</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Mileage</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>

      <div class="spec2">
      <div class="specitem">
        <p>
        <span class="floatL">Registration</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Fuel Type</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <div class="specitem">
        <p>
        <span class="floatL">Transmission</span>
        <span class="floatR">XXXXX</span>
        </p>
      </div>
      <p id="carlocation">Location: Bearstead, Kent</p>
      </div>
      <div class="Moreinfo">
        <p>More Info</p>
      </div>
    </div>
  </div>
</div>
</div>
</header>
<!-- /Right column-->


    <!-- Footer-->
<header class="container">
      <div class="row footer2">
        <div class="col-md-6 About">
          <p class="subtitle">About GForces</p>
          <p>© GForces Auto <br>
            Reg. Office: Address Line 1, Address Line 2, Town, County. Postcode <br>
            Reg. Company No. XXXXXXXXXX - VAT Reg. No. XXXX XXX XX <br>
            <br><br>
            © NetDirector™ - Automotive Solutions
          </p>
        </div>
        <div class="col-md-2 spacer"></div>
        <div class="col-md-4 Links">
          <p class="subtitle">Links</p>
          <ul class="List">
            <li>Privacy Policy</li>
            <li>Terms & Conditions</li>
            <li>Site map</li>
            <li>Legal</li>
            <li>Back to Top</li>
          </ul>
        </div>
      </div>
  </header>
  <!-- /Footer-->


</body>
</html>
